.wrapper {
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.Content {
    display: flex;
    margin: auto;
    width: 1440px;
    flex-direction: column;
}
.Content__title {
    color: #2f2f2f;
    margin-bottom: 40px;
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 600;
}
.map__address {
    width:  100%;
}
.map__address img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}